/** Mixin Definitions **/
/** Base Styles **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
.warp{
  width:71rem;
  margin:0 auto;
  border-radius:3rem;
  height:71rem;
  line-height:1.5rem;
}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{color:#eaeaea;}
ol,
ul {
  list-style: none;
}
