/* CSS Document */
@media (max-width: 320px){
	.navbar-header{height:47px;}
	.logo img{ width:102px;height:47px; margin:0px; padding:0px;}
	.banner img{width:120px;height:47px;}
	 #Gg1{width:200px; height:176px; }
	 #Gg2{width:200px; height:176px; }
	 #Gg3{width:200px; height:176px; }
	 .GgBody {display:none;}
	 .goodsome{display:none;overflow:hidden;}
 	 .W_slist ul{display:none;}
  	 .W_slist ul li{display:none;}
	 .GStop{display:none;}
	 .fontStar{display:none;}
	 .HeadTop img{display:none;}
	 .WhyLeftComBody{display:none;}
.ServiceList{ width:300px; height:350px; float:left;}
.ServiceList a{ color:#666;}
.ServiceLists{left:25px;width:300px;height:300px;position:relative;overflow: hidden; background-color:#F7F7F7; }
.ServiceLists .top{ width:300px; height:118px; text-align:center; padding-top:12px; position:absolute; left:0px;}
.ServiceLists .title{ width:300px; height:52px; text-align:center;  line-height:20px; padding-top:5px; position:absolute; left:0px; top:130px; }
.ServiceLists .title span{ color:#2A2B2C;font-size:18px; line-height:16px;}
.ServiceLists .com{ width:300px; height:140px; line-height:22px; left:16px; position:absolute; top:180px;z-index:800;}

.ServiceLists .tops{ width:350px; height:118px; text-align:center; padding-top:12px;  position:absolute; left:-275px; z-index:800;}
.ServiceLists .titles{ width:350px; height:52px; text-align:center;  line-height:20px; padding-top:5px; position:absolute; left:280px; top:130px; color:#FF6600; z-index:800;}
.ServiceLists .titles span{ color:#2A2B2C;font-size:18px;color:#FF6600;line-height:16px;}
.ServiceLists .coms{ width:330px; height:140px; line-height:22px; position:absolute; left:280px; top:180px;z-index:800; color:#888888;}
	}
@media (max-width: 414px){
		.cur{display:none;}
	.navbar-header{height:47px;}
	.logo img{ width:102px;height:47px; margin:0px; padding:0px;}
	.banner img{width:120px;height:47px;}
	.ServiceLists{left:60px;width:410px;height:330px;position:relative;overflow: hidden; background-color:#F7F7F7; }
	 .goodsome{display:none;overflow:hidden;}
	.GgBody {width:414px;}
	.GStop{display:none;}
    .HeadTop img{display:none;}
	.fontStar{display:none;}
	 .WhyLeftComBody{display:none;}
 	 #Gg1{width:200px; height:176px; }
	 #Gg2{width:200px; height:176px; }
	 #Gg3{width:200px; height:176px; }
	}
@media (max-width: 640px){
    .HeadTop img{left:15px;}
	.GgBody{padding:0 25px;}
	 #Gg1{width:386px; height:338px; }
	 #Gg2{width:386px; height:338px; }
	 #Gg3{width:386px; height:338px;}
	}
@media (max-width: 1024px){
.GgBody{padding-top:35px;padding-bottom:35px;}
	 #Gg1{width:320px; height:280px; }
	 #Gg2{width:320px; height:280px; }
	 #Gg3{width:320px; height:280px;}
	}
.cur{background:url(../images/menu.gif);}
.inav{ float:left; position:relative; }
.inav ul{ padding:0px; margin:0px;}
.inav ul li{ padding:0px; margin:0px; list-style:none; width:100px; height:50px; float:left;position:relative; z-index:2;}
.inav ul li a{ width:100px; height:50px; display:block; line-height:28px; text-align:center; color:#2A2B2c;
text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());
}
.inav ul li a:link,.inav ul li a:visited{color:#2A2B2c; }
.inav ul li a:hover{ color:#EDEFEE;}
.inav ul li a:active{color:#2A2B2c;}
.inav .cls{clear:both;}
.inav .cur a:link,.inav .cur a:visited,.inav .cur a:hover,.inav .cur a:active{ color:#EDEFEE;}
.inav .curBg { background:url(../images/menu.gif);height:50px;position:absolute;bottom:0;width:110px; line-height:0px; font-size:0px;left:0px;z-index:1;}
/* swiper-container */
	     .swiper-container {
	        width: 100%;
	        height: 300px;
	        margin-left: auto;
	        margin-right: auto;
	    }
	    .swiper-slide {
	        text-align: center;
	        font-size: 18px;
	        background: #fff;

	        /* Center slide text vertically */
	        display: -webkit-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        -webkit-box-pack: center;
	        -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	        -webkit-box-align: center;
	        -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	    }
#tx3{
	font-size:18px;
	font-weight:bold;
	height:30px;
	}
#tx4{
	text-align:center;
	font-size:13px;
	height:26px;
	line-height:26px;
	color:#2a2b2d;
	}
#tx5{
	font-size:13px;
	height:20px;
	line-height:20px;
	color:#999;
	}
/* ServiceList*/
@media (max-width: 767px){
.ServiceList{ width:270px; height:350px; float:left;}
.ServiceList a{ color:#666;}
.ServiceLists{
	width:230px;height:330px;position:relative;overflow: hidden; background-color:#F7F7F7; 
}
.GgBody{padding-top:25px;padding-bottom:25px;width:340px;margin:0 auto;}
.ServiceLists .top{ width:230px; height:118px; text-align:center; padding-top:12px; position:absolute; left:0px;}
.ServiceLists .title{ width:230px; height:52px; text-align:center;  line-height:20px; padding-top:5px; position:absolute; left:0px; top:130px; }
.ServiceLists .title span{ color:#2A2B2C;font-size:18px; line-height:16px;}
.ServiceLists .com{ width:200px; height:140px; line-height:22px; left:16px; position:absolute; top:180px;z-index:800;}
    .HeadTop img{left:15px;}
.ServiceLists .tops{ width:250px; height:118px; text-align:center; padding-top:12px;  position:absolute; left:-275px; z-index:800;}
.ServiceLists .titles{ width:250px; height:52px; text-align:center;  line-height:20px; padding-top:5px; position:absolute; left:280px; top:130px; color:#FF6600; z-index:800;}
.ServiceLists .titles span{ color:#2A2B2C;font-size:18px;color:#FF6600;line-height:16px;}
.ServiceLists .coms{ width:230px; height:140px; line-height:22px; position:absolute; left:280px; top:180px;z-index:800; color:#888888;}
}

/**/
/**/
.W_slist {
	width: 528px;display: block; height:100px;margin: 0px auto; 
}
.W_slist ul{ margin:0px; padding:0px;
}
.W_slist li { 
list-style:none; padding:0px; margin:0px;width: 86px;overflow: hidden;height: 100px;font-size: 14px;position: relative;display: inline;float: left;text-align: center; 
}

.W_slist li .rad i {
	background: url(../images/w-20140306v2.png) no-repeat  ;
	-webkit-transition: all .5s ease-in-out;
	display: block;
	margin-left: auto;margin-right: auto;
}

.W_slist li .rad {
	background: #ccb5a6;width: 62px;height: 62px;
	-webkit-border-radius: 62px;
	overflow: hidden;position: relative;
	z-index: 2;margin: 0px auto;display: block; top:4px;
	-moz-border-radius: 62px;border-radius: 62px;
}

.W_slist li .sd {
	width:70px;height: 70px;display: block;
	-webkit-border-radius:74px;
	-moz-border-radius: 74px;
	-webkit-transition: all .5s ease-in-out;
	-webkit-transform: scale(0.5);
	border-radius:74px;
	background: #e2e2e2;top: 0;left: 8px;position: absolute;z-index: 1
}

.W_slist li p {
	color: #FF6600;font-size: 14px
}

.W_slist li p strong {
	display: block;line-height: 24px;font-size: 16px
}

.W_slist a:hover {
	text-decoration: none
}

.W_slist a:hover p {
	text-decoration: none;
	color: #00ABB3;
}
.W_slist li:hover .sd,.W_slist li.hover .sd {
	-webkit-transform: scale(1)
}
.W_slist li .title{ display:none; width:54px; height:18px; text-align:center; color:#FFFFFF;
 left:17px; TOP:74PX; background:url(../images/r11_c14.gif) no-repeat center top; font-size:12px; padding-top:3px;}
.W_slist li:hover .title{ position:absolute;  display:block;}


.W_slist li.p .rad i {
	width: 35px;height: 26px;background-position: -26px -18px;margin-top: 20px
}

.W_slist li.b .rad i {
	width: 32px;height: 28px;background-position: -111px -17px;margin-top: 20px
}
.W_slist li.t .rad i {
	width: 43px;height: 23px;background-position: -187px -20px;margin-top: 20px
}

.W_slist li.y .rad i {
	width: 38px;height: 22px;background-position: -273px -20px;margin-top: 20px
}

.W_slist li.m .rad i {
	width: 32px;height: 24px;background-position: -356px -18px;margin-top: 19px
}
.W_slist li.e .rad i {
	width: 32px;height: 39px;background-position: -440px -12px;margin-top: 12px
}

.W_slist li:hover .rad i,.W_slist li.hover .rad i {
	-webkit-transform: rotate(360deg);
	
}
.W_slist li:hover .rad,.W_slist li.hover .rad {
	background-color: #00ABB3;
}
/**/
.GgBody{ background:url(../images/r21_c2.gif) repeat-x left top;}
.GgBody img{ width:386px; height:338px; padding:0 25px;}
.GStop{ height:110px; float:left; background:url(../images/s_r24_c4.gif) no-repeat 20px 24px; padding-top:24px; padding-left:105px;}
.topTitle{ width:448px; height:41px; padding-left:2px; text-align:left; font-size:30px; font-weight:bold; color:#2a2b2c; padding-top:2px;}
.poeComs{ height:63px; line-height:24px;color:#666666;font-family:"微软雅黑", "黑体";}
.topComs{ width:448px; height:40px; padding-left:2px; font-size:12px; line-height:20px; text-align:left; }

.WhyLeftCom{ height:62px; float:left; padding-top:24px;text-align:left;}
.fontStar{ font-size:16px;font-family:"微软雅黑", "黑体";}
.WhyLeftCom .fontH1{ font-size:28px; line-height:28px; font-weight:bold; color:#2A2B2c;}
.WhyLeftCom .fontcom{ font-size:18px;  color:#2A2B2c;}
.WhyLeftComBody{ height:105px;}

.ibodys{ height:400px; background:url(../images/r20_c21.jpg) no-repeat center top; position:relative;}
.W_title1{ width:120px; height:20px; position:absolute; font-size:18px; top:38px; left:5px; color:#B898C1;
filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:50; /*Firefox私有，透明度50%*/
opacity:50;/*其他，透明度50%*/
}
.W_title2{ width:110px; height:56px; line-height:24px; position:absolute; font-size:20px; top:225px; left:40px; color:#F79357;
filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:50; /*Firefox私有，透明度50%*/
opacity:50;/*其他，透明度50%*/
}
.W_title3{ width:80px; height:22px;position:absolute; font-size:18px; top:94px; right:34px; color:#89A8C4;
filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:50; /*Firefox私有，透明度50%*/
opacity:50;/*其他，透明度50%*/
}
.W_title4{ width:120px; height:48px;position:absolute; line-height:24px; font-size:20px; top:192px; right:13px;  color:#9F3968;
filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:50; /*Firefox私有，透明度50%*/
opacity:50;/*其他，透明度50%*/
}

.footers{height:87px; padding:25px 25px; text-align:center; line-height:20px; }



.Zyflash{ width:100%; height:200px; padding-top:120px;}
.Servs{ width:127px; height:127px;margin:0 auto; background:url(../images/s_r2_c2.jpg) no-repeat center bottom;background-position: 50% 0%;text-align:center;}
.servgrid{height:180px;}
.Servs img{	
	width: 61px;
    height: 94px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;}
.Servstitle {
    width: 127px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
	padding-top:25px;
}